<div class="container">
    <div class="content_main">
        <div class="img-column">
            <div class="keyboard"></div>
        </div>
        <div class="info">
            <h1>Hello there,</h1>
            <div>
                I am a backend developer and I am enthusiastic about exploring the world of iOS app development. I am
                eager to put my skills into practice in order to create amazing mobile experiences. Although there are
                some differences between backend development and iOS app development, I am confident that many of the
                same programming concepts and design principles are applicable.
            </div>
            <h5>I would like to showcase a couple of apps that I have created.</h5>
            <div>
                <a href="/aacards/">Anki Auto Cards</a> is an iOS application that simplifies the process of creating
                new flashcards by automatically generating them based on user input. This tool saves time and increases
                efficiency for users when creating Anki cards on their iOS devices, thus making the learning process
                smoother and more effective.
            </div>
            <div>
                <a href="/gcash/">GCash Mobile</a> app allows users to manage their personal finances while on the go.
                This app enables users to connect to their GNU Cash databases, view account balances, create and
                edit transactions. Offering an intuitive and easy-to-use interface for managing financial transactions,
                this app helps users stay organized and in control of their money, no matter where they are.
            </div>
            <div>
                <a href="/qwikjot/">QwikJot</a> is more than an app;
                it’s a powerful tool that aligns perfectly with Obsidian, crafted for those who value quick, easy, and
                secure note-taking. Whether you’re capturing a brilliant idea, important tasks, or daily reflections,
                QwikJot’s integration with Obsidian ensures your thoughts are well-organized and easily accessible.
            </div>
            <div>Stay tuned for more exciting developments from me in the near future.</div>
        </div>
    </div>

</div>
