<div class="container">
    <div class="content_main">
        <div class="img-column">
            <div class="keyboard"></div>
        </div>
        <div class="info">
            <h1>HI</h1>
            <div>
                As a backend developer, I'm excited to explore the world of iOS app development and see how I can apply my
                skills to create great mobile experiences. While there are certainly some differences between backend
                development and iOS app development, I'm confident that many of the same programming concepts and design
                principles still apply.
            </div>
            <h3>Here is a couple of my apps:</h3>
            <div>
                <a href="/aacards/">Anki Auto Cards</a> is a tool for iOS that can simplify the process of creating new
                flashcards by automatically
                generating cards based on user input. With this tool, users could save time and increase their efficiency
                when creating Anki cards on their iOS devices, making the learning process smoother and more effective.
            </div>
            <div>
                <a href="/gcash/">GCash Mobile</a> app can enable users to manage their personal finances on the go. The app
                could allow users to connect to their GNU Cash databases, view account balances, create and edit
                transactions. By offering an intuitive and easy-to-use interface for managing finances, the app could help users
                stay organized and in control of their money, no matter where they are.
            </div>
            <h4>More is coming...</h4>
        </div>
    </div>

</div>
